body {
    background-color: rgba(172, 169, 131, 0.411);
}

#Foto {
    width: 500px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px gray
}

.botoes {
    display: flex;
    gap: 7px
}

.botao {
    border-radius: 200px;
    box-shadow: 5px 5px 5px gray
}

#add {
    background-color: bisque;
}

#sortizinha {
    background-color: aquamarine;
}

#apaga-me {
    background-color: crimson;
    color: white;
}

.centralzinha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
}